.qmake.stash
*.swp
*.DS_Store
*.pro.user*
moc_*.cpp
*.o
Makefile
Makefile.*
azclient
azclient.exe
object_script.*
debug/*
release/*
*.pdb
bin/*
qrc_resources.cpp
*.dmg
*.app
*.qm
*.obj
cscope.out
*.so
*.so.*
qrc_locales.cpp
qmake_qmake_immediate.qrc
qrc_qmake_qmake_immediate.cpp
